{% autoescape off %}
Hola {{ user.get_full_name|default:user.username }},

Recibimos una solicitud para restablecer la contraseña de tu cuenta en PEVI Colombia.

Para crear una nueva contraseña, haz clic en el siguiente enlace:

{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Este enlace es válido por única vez. Si no solicitaste este cambio, puedes ignorar este correo y tu contraseña no será modificada.

--
PEVI Colombia
Plataforma de Gestión Energética
https://pevicolombia.com
{% endautoescape %}
